<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vishwkarma page</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">

        <!-- Favicon -->
        <link href="static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="static/lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="static/lib/slick/slick.css" rel="stylesheet">
        <link href="static/lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="logo">
                                <a href="index1">
                                    <h3>Dream Home</h3>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 d-none d-lg-block">
                            <div class="row">
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-calendar"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Opening Hour</h3>
                                            <p>Mon - Fri, 8:00 - 9:00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Call Us</h3>
                                            <p>9403902134</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-send-mail"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Email Us</h3>
                                            <p>vishwakarmabuilders@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                    <a href="" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="/project" class="nav-item nav-link">project</a>
                            <!-- <a href="/about_Vishwkarma" class="nav-item nav-link">About builder</a> -->
                            <a href="/static/img/rk2.jfif" class="nav-item nav-link">1RK</a>
                            <a href="/static/img/2bhk.jpeg" class="nav-item nav-link">1BHK</a>
                            <a href="/static/img/2bhk.jpeg" class="nav-item nav-link">2BHK</a>
                            <a href="/static/img/3bhk1.jfif" class="nav-item nav-link">3BHK</a>
                            <a href="/static/img/4bhk1.jfif" class="nav-item nav-link">4BHK</a>
                        </div>   
                    </div>        
                </nav>
            </div>
        </div>
        <!-- Nav Bar Start -->

        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Vishwkarma phase1</h2>
                    </div>
                    <!-- <div class="col-12">
                        <a href="http://127.0.0.1:5000/">Home</a>
                        <a href="/project">Our Projects</a>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        <!-- <h1> </h1><br>
        <h1> </h1>
        <h2 style="color:#030f27;"><center>Vishwkarma phase1</center></h2>   -->
            <p style="color: black;">
                <center>Vishwkarma phase1 is one of the leading residential project of the Vishwakarma situated in region Rajarampuri of Kolhapur.<br> 
                    The residential complex is planned to keep in mind all the essintial facilities required for a healthy and morden lifestyle.</center>
            </p> 
            <p>

            </p>
        <div>
            <h3 style="color:#fdbe33;"><center>Vishwakarma phase1 Amenities</center></h3>
            <p>
                <center> </center>
            </p>
            <h5 style="color:black ;">
                <center><i class="fas fa-car"> </i>Closed Car Parking</center>
            </h5>
            <h5 style="color:black ;">
                <center><i class="fas fa-trash"></i>Solid Waste Management</center>
            </h5>
            <h5 style="color:black ;">
                <center><i class="fas fa-tree"></i>Landscaping & Tree</center>
            </h5>
            <h5 style="color:black ;">
                <center><i class="fas fa-water"></i>24x7 Water</center>
            </h5>
        </div>
        <h3 style="color:#fdbe33;"><center>Description</center></h3>
        <table border="1px"   align="center">
            <thead>
                <tr>
                    <th>Types of flat</th>
                    <th>Price</th>
                    <th>Sq.feet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1RK</td>
                    <td>17.70 L</td>
                    <td>350.30 sqft</td>
                </tr>
                <tr>
                    <td>1BHK</td>
                    <td>24.90 L</td>
                    <td>430.00 sqft</td>
                </tr>
                <tr>
                    <td>2BHK</td>
                    <td>28.60 L</td>
                    <td>580.72 sqft</td>
                </tr>
                <tr>
                    <td>3BHK</td>
                    <td>32.58 L</td>
                    <td>625.56 sqft</td>
                </tr>
                <tr>
                    <td>4BHK</td>
                    <td>40.15 L</td>
                    <td>710.00 sqft</td>
                </tr>
            </tbody>
        </table>

        <marquee style="border: 0ch; color: blue;"  width="40%" direction="lifestyle" height="100px"><h3>Book Your Flat Now !!!</h3> </marquee>
    </body>

</html>